<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Servlet_inventario</display-name>
    <servlet-name>Servlet_inventario</servlet-name>
    <servlet-class>controller.Servlet_inventario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_inventario</servlet-name>
    <url-pattern>/Servlet_inventario</url-pattern>
  </servlet-mapping>
  <display-name>Ejercicio 03 CRUD de Producto con JSP y Servlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CrearProductoServlet</display-name>
    <servlet-name>CrearProductoServlet</servlet-name>
    <servlet-class>controller.CrearProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearProductoServlet</servlet-name>
    <url-pattern>/CrearProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarProductoServlet</display-name>
    <servlet-name>ListarProductoServlet</servlet-name>
    <servlet-class>controller.ListarProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProductoServlet</servlet-name>
    <url-pattern>/ListarProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarProductoServlet</display-name>
    <servlet-name>EditarProductoServlet</servlet-name>
    <servlet-class>controller.EditarProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarProductoServlet</servlet-name>
    <url-pattern>/EditarProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarProductoServlet</display-name>
    <servlet-name>EliminarProductoServlet</servlet-name>
    <servlet-class>controller.EliminarProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarProductoServlet</servlet-name>
    <url-pattern>/EliminarProductoServlet</url-pattern>
  </servlet-mapping>
</web-app>